<div>
    <form class="form-inline" action="" method="post">
        <div class="form-group">
            <input class="form-control" type="text" name="name" [(ngModel)]="name" placeholder="имя">
        </div>
       <div class="form-group">
        <input class="form-control" type="text" name="secondName" [(ngModel)]="secondName" placeholder="фамилия">
       </div>
        <div class="form-group">
            <select class="form-select" name="selectedJob" id="" [(ngModel)]="selectedJob">
                <option *ngFor="let j of job" [value]="j">{{j}}</option>
            </select>
        </div>
        
        <input class="btn btn-primary" (click)="add()" type="text" type="submit" value="Добавить">
    </form>
</div>
